<ion-view view-title="LoKal Offers" align-text="center">
  <ion-content>

<ul class="list">

  <li ng-repeat="value in category" class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
    {{value}}
  </li>

 

</ul>
 </ion-content>

</ion-view>
<div class="bar bar-footer bar-positive" style="height:3%;">
  <button class="button button-clear"></button>
  <a style="font-size:50%">(c)Copy Rights Reserved @2015</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
  <a style="font-size:50%" >Developed by Devsan Smart Apps</a>
</div>