<html>
<ion-modal-view>
<ion-header-bar>
      <h1 class="title">Sort By</h1>
    
    <div class="buttons">
      <button class="button button-clear " ng-click="closeLogin2()">Close</button>
    </div>
	</ion-header-bar>
<ion-content >
<body>
<div class="list">

     <button class="button button-block" ng-click="sorbyArea()">Area</button>
   
  

        <button class="button button-block" ng-click="SortByDiscount()">Discount</button>
   


         <button class="button button-block" ng-click="sortbyCategory()">Category</button>
   



</div>
</body>
</ion-content >
</ion-modal-view>
</html>